@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-gray-100;
  }
}

@layer utilities {
  .bg-grid-pattern {
    background-size: 50px 50px;
    background-image: linear-gradient(to right, rgb(31 41 55 / 0.1) 1px, transparent 1px),
      linear-gradient(to bottom, rgb(31 41 55 / 0.1) 1px, transparent 1px);
  }
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}